@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  background-color: #2C3333;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  outline: inherit;
  cursor: pointer;
}

h1 {
  color: white;
  font-size: 56px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  margin: 0px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 3px 0;
  font-size: 12px;
  gap: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  gap: 18px;
}

.button-container {
  display: flex;
  gap: 50px;
}

.button-container img {
  width: 200px;
}

.dot {
  height: 12px;
  width: 12px;
}
